# Default ignored files
# Arquivos e pastas do IntelliJ IDEA
.idea/
*.iml
/SistemaGrenciadorTarefas.iml
.idea/workspace.xml

# Pasta de código compilado
/out

# Arquivos de build de outras ferramentas (Maven/Gradle)
target/
build/

# Outros
*.log